@font-face {
    font-family: strawberry;
    src: 
        url(StrawberryBlossom.ttf),
        url(StrawberryBlossom.otf);
}
html, body {
    width: 100%;
    margin: 0;
    font-size: 14px;
    padding-right:20px;
    
    /* font-family: 'strawberry', sans-serif; */
    font-family: 'Kanit', sans-serif;
    background-color: #f2f2f2;
}
.big-search-icon{
    font-size: 40px;
    margin-bottom: 10px;
}
.mina-menu .main-menu-link img {
    object-fit: contain;
    object-position: center;
    height: 100%;
    width: 32px;
}
.show-mobile-xs {
    display: none !important;
}
.hide-mobile-xs {
    /* display: flex !important; */
}
@media screen and (max-width: 767px) {
    body,html {
        padding-right: 0px;
    }
    .i-bar-wrapper, .contact-top, .hide-mobile-xs {
        display: none !important;
    }
    .container-remove-mobile-xs {
        margin: auto !important;
        padding: 0px !important;
    }
    .show-mobile-xs {
        display: flex !important;
    }
    .header {
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
    }
    .product-pre-add-to-cart-text {
        visibility: visible !important;
        opacity: 1 !important;
    }
    .product-card-wrapper{
        height: 500px !important;
    }
    .product-card {
        height: 466px !important;
    }
}
#spinner{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(80,80,80,0.8);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}
#spinner-inner {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #e62e6b; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 1.5s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.fixed-scroll {
    position: fixed;
    top: 0%;
    left: 50%;
    margin-left: -50%;
    height: 60px !important;
    backface-visibility: hidden;
}
.col-marginbot{
    margin-bottom: 10px;
    /*  */
}
.logo-link {
    text-decoration: none !important;
}
.header-title {
    font-size: 80px;
    margin-bottom: 20px;
    text-align: center;
    border-bottom: 5px solid #e62e6b;
    font-family: 'strawberry', 'Pattaya', sans-serif;
}
.header-title.th {
    font-size: 50px !important;
    font-family: 'Pattaya', sans-serif !important;
}
.top-nav {
    background: #f5f5f5;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
    height: 32px;
    line-height: 32px;
    color: #666;
}

.header-section {
    padding-top: 20px;
    padding-bottom: 20px;
    color: #333;
    background-color: white;
}

.main-menu-wrapper {
    background: #e62e6b;
    height: 40px;
    line-height: 40px;
    color: white;
    z-index: 899;
    transition: 0.5s;
    width: 100%;
}
hr {
    border-top: 1px solid rgba(0,0,0,.1);
    background-color: #f7f7f7;
    height: 1px;
    width: 100%;
    padding: 1rem 0px;
    margin: 0px !important;
}
.btn-full {
    width: 100%;
    height: auto;
}
.btn-bj {
    background-color: #e62e6b;
    color: #FFF;
    transition: 0.4s;
    border: 1px solid #FFF;
}
.btn-bj:hover {
    border: 1px solid #e62e6b;
    background-color: #FFF;
    color: #e62e6b;
}
.swiper-banner-wrapper {
    width: 100%;
}
.product-feature {
    padding-bottom: 15px;
    background-color: #f7f7f7;
}
.product-wrapper {
    background-color: #f7f7f7;
}
.footer-menu {
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #cecece;
    /* height: 190px; */
}
.footer-credit {
    border-top: 1px solid #FFF;
    padding: 20px 0;
}
.footer {
    background-color: #f2f2f2;
    border-top: 1px solid #cecece;
    width: 100%;
}

/* topnav */
.topnav {

}
.icon {
    height: 20px;
    height: 20px;
}
.facebook-icon {
    color: #3278c9;
    font-size: 20px;
}
.phone-icon {
    color: #ff851c;
    text-decoration: none;
    font-size: 20px;
}
.line-icon {
    height: 18px;
    font-size: 20px;
}
.down-icon {
    height: 12px;
    font-size: 12px;
}
.gap {
    width: 10px;
    display: inline-block;
}
.icon-link {
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-decoration: none !important;
    color: #888;
    transition: 0.5s;
}
.icon-link:hover {
    color: #333;
}
.underline-hover:hover {
    text-decoration: underline;
}
.line-sep {
    border-left: 1px solid #DDD !important;
    margin: 0px 10px;
    height: 14px;
}
.dropdown-wrapper {
    border-radius: 0 !important;
    box-shadow: 0px 3px 5px rgba(100,100,100,0.5);
    border-left: 1px solid rgba(0,0,0,.15);
    border-right: 1px solid rgba(0,0,0,.15);
    border-bottom: 1px solid rgba(0,0,0,.15);
    border-top: none;
}
.dropdown-item {
    font-size: 12px;
}

/* header */
.header {
    background-color: white;
    
}
.header-search-wrapper{
    width: 500px;
}
.invisible-input {
    background-color: white;
    border: none;
}
.invisible-input:focus {
    outline: 0;
    padding: 8px 0px;
}
.header-search {
    border: 2px solid #e62e6b;
    height: 42;
    width: 480px;
}
.search-icon {
    padding: 0 8px 0px 8px;
}
.search-input {
    flex-grow: 1;
}
.search-button {
    background-color: #e62e6b;
    color: white;
    border: none;
    border-left: 2px solid #e62e6b;
    outline:none;
    cursor: pointer;
    height: 100%;
    width: 100px;
    transition: 0.5s;
}
.search-button:hover {
    background-color: #FFFFFF;
    color: #e62e6b;
}
.suggest-search {
    padding: 4px 0;
}
.my-cart-wrapper{
    /* max-width: 200px; */
}
.my-cart {
    border: 1px solid #e6e6e6;
    background: #f5f5f5;
    padding: 8px 12px;
    width: 150px;
    cursor: pointer;
    transition: 0.5s;
}
.my-cart:hover {
    border: 1px solid #e62e6b;
    background: #FFFFFF;
}
.bag-icon {
    font-size: 16px;
}

/* main menu */
.navbar {
    height: 100% !important;
    padding: 0px 0px;
}
.main-menu {
    background: #e62e6b;
    height: 40px;
    line-height: 40px;
    color: white;
    z-index: 899;
    width: 100%;
}
.main-menu-inner {
    height: 100%;
}
.hoverable {
    cursor: pointer;
}
.main-menu-link {
    text-decoration: none !important;
    color: white;
    padding: 0 8px;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-menu-link:hover {
    background-color: #d80d50;
    color: white;
}

/* swiper */
.swiper-container {
    width: 100%;
    height: 360px;
}
.swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color:#000;
    opacity: 1;
    background: rgba(0,0,0,0.2);
}
.swiper-pagination-bullet-active {
color:#fff;
background: rgba(50,50,50,0.3);
}
.swiper-button-next, .swiper-button-prev {
    background-image: none;
    color: #FFF;
    font-size: 18px;
    transition: 0.3s;
    padding: 80px 0px;
    top: calc(50% - 80px);
    text-shadow: 0 0 10px black;
}
.swiper-button-next:hover, .swiper-button-prev:hover {
    background-image: none;
    color: #333;
    text-shadow: 0 0 10px white;
}
.slider-image {
    width: 100%;
    height: 360px;
    object-fit: cover;
    object-position: center;
}

/* feature */
.feature-card {
    width: 100%;
    height: 180px;
    transition: 0.5s;
    display: block;
}
.feature-card:hover .feature-image{
    box-shadow: 0px 0px 15px 2px #aaa;
    cursor: pointer;
    filter: grayscale(0%);
}
.feature-image {
    border-radius: 5px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    filter: grayscale(60%);
    transition: 0.5s;
}
@media screen and (max-width: 991px) {
    .feature-card {
        height: 120px;
    }
}

@media screen and (max-width: 767px) {
    .feature-card {
        height: 180px;
    }
}


/* product */
.product-card-wrapper {
    background-color: white;
    overflow: hidden;
    margin-bottom: 10px;
    height: 376px;
}
.product-card-wrapper:hover .product-pre-add-to-cart-text {
    visibility: visible;
    opacity: 1;
}
.product-card-wrapper:hover .product-pre-image {
    filter: grayscale(0%);
}
.product-card {
    text-align: center;
    border: 1px solid white;
    height: 342px;
}
.product-card-wrapper:hover .product-card {
    border-top: 1px solid rgb(230,230,230);
    border-right: 1px solid rgb(230,230,230);
    border-left: 1px solid rgb(230,230,230);
}
.product-pre-add-to-cart {
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.product-pre-add-to-cart-text {
    visibility: hidden;
    opacity: 0;
    display: flex;
    width: 100%;
    transition: 0.5s;
    background-color: #e62e6b;
    height: 100%;
    color: white;
    font-size: 16px;
    text-align: center;
    align-items: center;
    justify-content: center;
    transition: visibility 0s, opacity 0.5s;
}
.product-pre-add-to-cart-text:hover {
    background-color: #d80d50;
    cursor: pointer;
}
.product-pre-title{
    width: 80%;
    margin: auto;
}
.product-pre-title a {
    color: black;
}
.product-pre-price {
    margin: 5px 0;
    font-size: 18px;
    font-weight: bold;
}
.product-pre-image-wrapper{

}
.product-pre-image{
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: auto;
    filter: grayscale(60%);
    transition: 0.5s;
}

/* footer-credit */
.footer-credit-text {
    text-align: center;
}


/* i-bar */
.i-bar-wrapper {
    position: fixed;
    background-color: #333;
    top: 0;
    right: 0;
    z-index: 900;
    height: 100vh;
}
.i-bar {
    width: 40px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.side-icon-group {
    height: auto;
    width: 100%;
    padding: 0px 4px;
}
.side-menu-icon {
    color: white;
    font-size: 24px;
    margin: auto;
}
.side-icon-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}
.divider-large {
    border-top: 1px solid #AAA;
    width: 100%;
    margin: 12px 0px;
}
.divider {
    width: 100%;
    margin: 8px 0px;
}
.tooltip {
    font-size: 14px;
}
.tooltip .arrow {
}
.tooltip .tooltip-inner{
    padding: 10px;
}
/* logo */
.logo-large {
    width: auto;
}
@media screen and (max-width: 991px) {
    .logo-large {
        display: none;
    }
}
@media screen and (max-width: 767px) {
    .logo-large {
        display: block;
    }
}

.logo-text {
    font-size: 38px;
}
.logo-text-prefix {
    color: #e62e6b;
    background-color: #FFFFFF;
    padding: 2px 0px 4px 0px;
}
.logo-text-subfix {
    color: #FFFFFF;
    background-color: #e62e6b;
    padding: 2px 8px 4px 14px;
}
.logo-text-dotcom {
    color: #b10de8;
    background-color: #FFFFFF;
    padding: 2px 0px 4px 0px;
    font-size: 24px;
}